body {
    font-family: 'Roboto', sans-serif;
    color: $base;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: $lighter-gray;
    text-align: center;
    .card {
        min-width: 600px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 50px 10px;
        padding-top: 25px;
        margin-top: 40px;
        border-radius: $border-radius;
        box-shadow: 0 0 10px 0 $lighter-shadow;
        background: $white;
        overflow: hidden;
        h2 {
            text-align: center;
        }

        .values {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
            width: $time-line-width;
        }
        .all-inputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .minMaxNumber {
                padding: 15px;
            }
        }
        .input_number {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        label {
            font-size: 16px;
            text-align: center;
            }
        input {
            margin: 0;
            max-width: 40px;
            
            font-size: 16px;
            color: $base;
            padding: 5px 10px;
            border: solid 2px $primary;
            border-radius: $border-radius;
            background: $white;
            text-align: center;

        } 

        .currencyLabel {
            padding: 20px;
            min-width: 72px;

        }

        #slider {
            position: relative;
            margin: 0 auto;
            width: $time-line-width;
            height: 5px;
            background: $primary;
            border-radius: 5px;
            cursor: pointer;
            
            @include dragIndicator("#min", $primary, 2);
            @include dragIndicator("#max", $base, 1);
        }
    }
    .range-content {
        display: flex;
        flex-direction: column;
    }
    .nav-button {
        margin-top: 60px;

        text-decoration: none;
        padding: 10px 20px;
        font-size: 16px;
        color: $white;
        border: none;
        border-radius: $border-radius;
        background: $base;

        transition: all .3s;
        &:hover{
            background-color: $red-color;
        }
    }
}
  
.mango-title {
    color: $red-color;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 1px $primary;
}
  