@mixin dragIndicator($property, $background, $z-index) {
    #{$property}{
        position: absolute;
        top: 0;
        z-index: $z-index;
        width: 0;
        height: 5px;
        border-radius: 5px;
        background: $background;
        &:hover{
            &::before{
                opacity: 1;
            }
            &::after{
                opacity: 1;
            }
        }
        &::before{
            opacity: 0;
            content: attr(data-content);
            display: block;
            position: absolute;
            top: 20px;
            right: -40px;
            width: 70px;
            padding: 3px;
            text-align: center;
            color: white;
            background: $red-color;
            border-radius: $border-radius;
        }

      #{$property}-drag{
            position: absolute;
            right: -7.5px;
            top: -5px;
    
            width: 15px;
            height: 15px;
    
            border-radius: 50%;
            background: $base;
            transition: all .3s;
            &:hover{
                transform: scale(1.3);
                background-color: $red-color;
            }
        }
    }
}