// COLORS
$primary: #ababab;
$base: #262626;
$red-color: #C92F2F;
$lighter-shadow: rgba($base, .3);
$white: #fff;
$gray: #8c8c8c;
$lighter-gray: rgba($gray, .1);

// MISC
$time-line-width: 350px;
$transition: .3s all ease;
$border-radius: 15px;