body {
  font-family: "Roboto", sans-serif;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(140, 140, 140, 0.1);
  text-align: center;
}
body .card {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  padding-top: 25px;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(38, 38, 38, 0.3);
  background: #fff;
  overflow: hidden;
}
body .card h2 {
  text-align: center;
}
body .card .values {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 350px;
}
body .card .all-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .card .all-inputs .minMaxNumber {
  padding: 15px;
}
body .card .input_number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .card label {
  font-size: 16px;
  text-align: center;
}
body .card input {
  margin: 0;
  max-width: 40px;
  font-size: 16px;
  color: #262626;
  padding: 5px 10px;
  border: solid 2px #ababab;
  border-radius: 15px;
  background: #fff;
  text-align: center;
}
body .card .currencyLabel {
  padding: 20px;
  min-width: 72px;
}
body .card #slider {
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 5px;
  background: #ababab;
  border-radius: 5px;
  cursor: pointer;
}
body .card #slider #min {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: #ababab;
}
body .card #slider #min:hover::before {
  opacity: 1;
}
body .card #slider #min:hover::after {
  opacity: 1;
}
body .card #slider #min::before {
  opacity: 0;
  content: attr(data-content);
  display: block;
  position: absolute;
  top: 20px;
  right: -40px;
  width: 70px;
  padding: 3px;
  text-align: center;
  color: white;
  background: #C92F2F;
  border-radius: 15px;
}
body .card #slider #min #min-drag {
  position: absolute;
  right: -7.5px;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #262626;
  transition: all 0.3s;
}
body .card #slider #min #min-drag:hover {
  transform: scale(1.3);
  background-color: #C92F2F;
}
body .card #slider #max {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: #262626;
}
body .card #slider #max:hover::before {
  opacity: 1;
}
body .card #slider #max:hover::after {
  opacity: 1;
}
body .card #slider #max::before {
  opacity: 0;
  content: attr(data-content);
  display: block;
  position: absolute;
  top: 20px;
  right: -40px;
  width: 70px;
  padding: 3px;
  text-align: center;
  color: white;
  background: #C92F2F;
  border-radius: 15px;
}
body .card #slider #max #max-drag {
  position: absolute;
  right: -7.5px;
  top: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #262626;
  transition: all 0.3s;
}
body .card #slider #max #max-drag:hover {
  transform: scale(1.3);
  background-color: #C92F2F;
}
body .range-content {
  display: flex;
  flex-direction: column;
}
body .nav-button {
  margin-top: 60px;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 15px;
  background: #262626;
  transition: all 0.3s;
}
body .nav-button:hover {
  background-color: #C92F2F;
}

.mango-title {
  color: #C92F2F;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 1px #ababab;
}

/*# sourceMappingURL=index.css.map */
